.center
{
	margin:auto;
	margin-top:20px;
	width: 700px;
	background: #fff;
	padding: 45px;
	box-sizing: border-box;
	border :1px solid rgba(0,0,0,.1);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.center h1
{
	text-align: center;
	margin: 0 0 40px;
	padding: 0;
	/*color: rgb(66,133,244);*/
	color:black;
	letter-spacing: 2px;
}
.center input
{
	padding: 5px;
	margin-bottom: 30px;
	width: 55%;
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
	border:none;
	border-bottom: 2px solid #999;
	width: 100%;
}
.center textarea
{
	padding: 5px;
	margin-bottom: 30px;
	width: 55%;
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
	border:none;
	border-bottom: 2px solid #999;
	width: 100%;
}
.center input[type="submit"]
{
	border-radius: 25px;
	font-size: 20px;
	height: 40px;
	cursor : pointer;
	/*background: rgb(66,133,244);*/
	background:cornflowerblue;
	color: #fff;
	margin-bottom: 0;
}
.center input[type="submit"]:hover
{
	background: #34F458;
	color: #fff;
}
.center form div
{
	position: relative;
}
.center form div label
{
	position: absolute;
	top: 3px;
	pointer-events: none;
	left: 0;
	transition: .5s;
}
.center input:focus ~label,
.center input:valid ~label,
.center textarea:focus ~label,
.center textarea:valid ~label
{
	left: 0;
	top: -20px;
	color: rgb(66,133,244);
	font-size: 12px;
	font-weight: bold;
}
.center input:focus,
.center input:valid,
.center textarea:focus,
.center textarea:valid
{
	border-bottom: 2px solid rgb(66,133,244);
}
.error_form
{
	top: 12px;
	color: rgb(216, 15, 15);
    font-size: 15px;
    font-family: Helvetica;
}