/*
Lab 3 CSS styles
CSS styles for Ultimate frisbee page
*/
*, html {
  margin:0;
  padding:0;  
}

body {
  color:rgb(116, 107, 240);
  font: 12pt "Tahoma", "Arial", sans-serif;
  background-color: rgb(205, 225, 228);
  background-image:url("background.jpg");
}

#container {
  background-color: rgb(205, 225, 228);
  margin: 0 auto; 
  width: 70%;
  text-align: left;
}

#container img{
  border-style: solid;
  border-color: black;
  border-width: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 20px;
  width: 30%;
  height: 30%;
}

#header {
  text-align: center;
  background-color: cadetblue;
  color:rgb(153, 243, 112);
  
}

#news {
  
  background-color: rgb(165, 126, 42);
  text-align: left;
  color:white;
  padding: 10px;
  margin:10px;
  border-style: solid;
  border-color: black;
  
}
#news ul li{
  
 margin-left: 10px;
 list-style-type: square;
  
}

#menu {
  text-align: center;
  border-style: groove;
  padding: 10px;
  margin:10px;
  border-color: black;
  background-color: blanchedalmond;
}
#menu h2{
  font-size: 40px;
  font-weight: bold;
  color:teal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#footer {
  text-align: center;
  font-size:10pt;
  background-color: teal;
  color: white;
  
}

h2,h1{
  font-weight: bold;
  font-size: 30px;
  margin:0;
  padding:0;  
}

.altrow {
  text-align: left;
  margin:0 auto;
  width: 50%;
  margin-bottom: 10px;
  border-style: groove;
  border-color: black;
}
.altrow td{
  border-style: groove;
  border-color: rgb(56, 53, 53);
}
.altrow th{
  border-style: groove;
  border-color: rgb(56, 53, 53);
}

.altrow tr:nth-child(even)
{  
  background-color: rgb(101, 165, 42);
}
.altrow th{
  background-color: rgb(165, 81, 42);
  color:white;
  text-align: center;
}

#music{
  text-align: center;
  border-style: solid;
  border-color: black;
  background-color: blanchedalmond;
  color: teal;
  padding: 10px;
  margin:10px;
}
#music h2{
  text-align: center;
  font-style: italic;
  color: teal;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#location{
  text-align: center;
  border-style: solid;
  padding: 10px;
  margin:10px;
  border-color: black;
  background-color: blanchedalmond;
  color: teal;
}
#location h2{
  text-align: center;
  color: teal;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#container a{
  color:black;
}
